@import "tailwindcss";

:root {
  --background: #fdf2f8; /* Pink-50 */
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: radial-gradient(#fbcfe8 1px, transparent 1px);
  background-size: 20px 20px;
}
